@import 'bootstrap';

// body {
//     display: flex;
//     flex-direction: column;
// }

.carousel-inner {
    height: 320px;
}

.carousel-container {
    max-height: 320px;
    height: 320px;
}

.carousel-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 320px;
}

.nav-footer {
    background-color: aqua;
    // height: 100px;

}

.footer-divider {
    background-color: black;
    width: 100%;
    height: 1px;
}

.section-image {
    width: 100%;
}

.differential-section {
    background-color: rgb(13, 3, 58);
    color:white;
}

.white-note {
    background-color: rgb(192, 192, 192);
    height: 128px;
}

.black-note {
    background-color: rgb(32, 32, 32);
    height: 80px;
    color:white;
}

.white-middle-note {
    background-color: rgb(192, 192, 192);
    height: 70px;
}

.white-note-normal {
    background-color: rgb(192, 192, 192);
}

.black-note-normal {
    background-color: rgb(32, 32, 32);
}