/* // body {
//     display: flex;
//     flex-direction: column;
// } */

.ribbon {
    background-image: url('ribbon_placeholder.svg');
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    /* // z-index: -1; */
}

.bg-main-color-1 {
    background-color: #00021d;
}

.bg-main-color-2 {
    background-color: #f0f0f0;
}

.bg-main-color-3 {
    background-color: #1291e6;
}

.color-white {
    color: #f0f0f0;
}

.carousel-inner {
    height: 320px;
}

.carousel-container {
    max-height: 320px;
    height: 320px;
}

.carousel-overlay {
    background-color: rgba(0, 0, 0, 0.5);
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 320px;
}

/* .nav-footer { */
    /* // height: 100px; */

/* } */

.footer-divider {
    background-color: white;
    width: 100%;
    height: 1px;
}

.nav-footer{
    margin-top: 200px;
}

.section-image {
    width: 100%;
}

.differential-section {
    color:white;
}


/* Cursos */

.white-note {
    background-color: rgb(192, 192, 192);
    min-height: 128px;
}

.white-note-side {
    background-color: rgb(192, 192, 192);
    min-height: 86px;
    display: flex;
    align-items: center;
}

.black-note {
    background-color: rgb(32, 32, 32);
    min-height: 80px;
    color:white;
}

.white-middle-note {
    background-color: rgb(192, 192, 192);
    height: 70px;
}

.white-note-normal {
    background-color: rgb(192, 192, 192);
}

.black-note-normal {
    background-color: rgb(32, 32, 32);
}

.cursos-section {
    background-color: #1291e6; /* preto */
    color: #ffffff !important;
    width: 100%;
    padding: 40px;
}

#experimental-course {
    background-color: #000;
    color: white; /* para o texto continuar visível */
    padding: 20px;
}


/* Página de depoimentos */
.reviewer-card {
    width: 240px;
}

.maps-reviewers {
    background-color:#1291e6;
    margin-top: 50px;
}

.note-divider-line {
    background-color:rgb(105, 105, 105);
    height: 10px;
    width: 100%;
}
/*                       */



/* Card do professor */


.card.escondido {
    display: none;
}

.card img {
    width: 160px;
    display: block;
    margin: 0 auto 20px;
}

.partitura-container{
    margin-top: 30px;
}
.h1profs{
    margin-bottom: 40px;
}

.nota:active, .nota.tocado {
background: #1291e6; 
transform: scale(1.2);
transition: background 0.1s, transform 0.1s;
}
#professor-card {
    top: 10;
    left: 30;
    width: 420px;
    height: 80vh;
    display: flex; 
    flex-direction: column;
    align-items: center; 
    text-align: justify;
    box-shadow: 10px 5 0px rgba(0.5, 0, 0, 0);
    z-index: 1000;
    padding: 20px;
    transition: all 0.3s ease-in-out;
    position: fixed;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0 0 20px #0002;
    position: absolute;
    right: 40px;
    top: 100px;
}
.card-body p {
    align-self: stretch; 
}
#prof-img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}
.partitura-container {
    position: relative; 
    width: 100%;
    margin-top: 80px; 
}


.pauta-linhas {
    margin-left: 60px;
    margin-right: 60px;
    padding-top: 50px;
}
.linha {
    height: 4px;
    background: black;
    margin: 20px 0;
}

.partitura-notas {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px; 
    
    display: flex; 
    justify-content: flex-start;
    gap: 120px; 
    padding-left: 120px;
    
    margin-left: 60px;
    margin-right: 60px;
    
    z-index: 20; 
}

.nota {
    width: 25px;
    height: 25px;
    background: black;
    border-radius: 50%;
    cursor: pointer;
    flex-shrink: 0; 
}

/* AJUSTE VERTICAL DA NOTA */
.nota:nth-of-type(1) { margin-top: 9px; } 
.nota:nth-of-type(2) { margin-top: 33px; } 
.nota:nth-of-type(3) { margin-top: 57px; } 
.nota:nth-of-type(4) { margin-top: 81px; } 
.nota:nth-of-type(5) { margin-top: 105px; }
.nota:nth-of-type(6) {margin-top: 33px; margin-left: 20px;}


.clave {
    width: 220px !important; 
    height: 220px !important; 
    max-width: 220px !important; 
    max-height: 220px !important;
    position: absolute;
    z-index: 15;
    left: 1% !important; 
    top: -2px !important; 
}

.card.escondido{
    display: none !important;
}

.course-card-link:hover {
    /* Efeito de "levantar" o card */
    transform: translateY(-5px); 
    text-decoration: none;
}
   .course-card-link {
    display: block; 
    text-decoration: none; 
    color: inherit;
    transition: transform 0.3s ease-in-out; 
}

.course-card {
    height: 100%;
    width: 100%;
    border: none !important;
    border-radius: 0 !important;
}

.card-img-top {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.calendar-container {
    width: 100%;
    position: relative; 
    height: 0; 
    overflow: hidden; 
    padding-bottom: 75%; 
    margin-top: 40px;
}

@media (min-width: 601px) {
    .calendar-desktop {
        display: block;
    }
    .calendar-mobile {
        display: none;
    }
}
@media (max-width: 600px) {
    .calendar-desktop {
        display: none;
    }
    .calendar-mobile {
        display: block; 
        padding-bottom: 120%; 
    }
}
.calendar-responsive {
    position: relative; 
    height: 0; 
    overflow: hidden; 
    padding-bottom: 75%; /* Proporção padrão (4:3) */
    margin-top: 70px;
}
.calendar-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin-top: 70px;
}
main.container-fluid {
    padding-top: 70px; 
}
.main-content mx-5{
    margin-bottom: 50px;
}